absl-py==0.10.0
aiohttp==3.6.2
apscheduler==3.6.3
argon2-cffi==20.1.0
argparse==1.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.2.0
backcall==0.2.0
beaker==1.11.0
beautifulsoup4==4.9.3
bleach==3.2.1
bottle==0.12.18
bottlenose==1.1.8
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
clarifai==2.6.2
click==7.1.2
clipboard==0.0.4
colorama==0.4.3
colorpy==0.1.1
configparser==5.0.1
cryptography==3.1.1
cycler==0.10.0
decorator==4.0.11
defusedxml==0.6.0
desktopmagic==14.3.11
detection==0.1.2
docker-pycreds==0.4.0
easydict==1.9
easyprocess==0.3
emoji==0.6.0
entrypoints==0.3
face-recognition-models==0.3.0
flask==1.1.2
future==0.18.2
gast==0.3.3
geographiclib==1.50
geopy==2.0.0
geos==0.2.2
gitdb==4.0.5
gitpython==3.1.11
google-auth-oauthlib==0.4.1
google-auth==1.22.0
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
h5py==2.10.0
httplib2==0.18.1
huepy==1.2.1
idna==2.10
imageio-ffmpeg==0.4.2
imageio==2.9.0
imutils==0.5.3
iniconfig==1.1.1
instabot==0.117.0
instagram-private-api==1.6.0
instagramapi==1.0.2
instaloader==4.5.3
instapy==0.6.11
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.18.1
isort==5.5.4
itsdangerous==1.1.0
jedi==0.17.2
jinja2==2.11.2
joblib==0.16.0
json5==0.9.5
jsonschema==2.6.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab==2.2.8
keras-applications==1.0.8
keras-preprocessing==1.1.2
keras==2.4.3
keyboard==0.13.5
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.2
markdown==3.2.2
markupsafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
meaningcloud-python==2.0.0
mistune==0.8.4
mock==4.0.2
mouseinfo==0.1.3
moviepy==1.0.3
mtcnn==0.1.0
multidict==4.7.6
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nest-asyncio==1.4.1
notebook==6.1.4
numpy==1.18.5
oauthlib==3.1.0
opencv-contrib-python-headless==4.4.0.44
opencv-contrib-python==4.4.0.44
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
phue==1.1
pickleshare==0.7.5
pillow==7.2.0
pip==20.3.3
pluggy==0.13.1
plyer==1.4.3
proglog==0.1.9
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.7
protobuf==3.13.0
psutil==5.7.3
py==1.9.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyautogui==0.9.50
pycparser==2.20
pygame==1.9.6
pygetwindow==0.0.8
pygments==2.7.1
pylint==2.6.0
pymsgbox==1.0.8
pyparsing==2.4.7
pyperclip==1.8.0
pyrect==0.1.4
pyrsistent==0.17.3
pyscreeze==0.1.26
pysocks==1.7.1
pytest==6.1.1
python-amazon-simple-product-api==2.2.11
python-dateutil==2.8.1
python-hue==0.1.2
python-instagram==1.3.2
python-telegram-bot==13.0
pytweening==1.0.3
pytz==2020.1
pywin32==228
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==19.0.2
regex==2020.10.15
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests==2.24.0
responses==0.12.0
rsa==4.6
scapy==2.4.4
scenegen==0.1.2
schedule==0.6.0
scikit-learn==0.23.2
scipy==1.5.2
selenium==3.141.0
send2trash==1.5.0
sentry-sdk==0.19.5
setuptools==41.2.0
shortuuid==1.0.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
smmap==3.0.4
soupsieve==2.0.1
subprocess32==3.5.4
tensorboard-plugin-wit==1.7.0
tensorboard==2.3.0
tensorflow-estimator==2.3.0
tensorflow==2.3.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
torch==1.6.0+cpu
torchvision==0.7.0+cpu
tornado==6.0.4
tqdm==4.50.2
traitlets==5.0.4
twitter==1.18.0
tzlocal==2.1
urllib3==1.25.10
wandb==0.10.12
watchdog==1.0.1
wcwidth==0.2.5
webdriverdownloader==1.1.0.3
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.35.1
wrapt==1.12.1
yarl==1.6.0